<a href="https://colab.research.google.com/github/Jittiya/Co-operative-Education-Science./blob/main/FIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/Co-operative'

In [4]:
data1 = pd.read_csv(os.path.join(path,'Microdata (Covid2022) 2565.csv')) 
data1

,A1,A2,A3,A4,A5,A8,A9,A10D,A10M,A10Y,...,indus_group,indus_sector,C3new,C4new,C5new,C6new,C7new,C8new,edu_caretaker,new_hh_no
0,1,10,1,1,9,1,11,9,1,2565,...,3,2,2,1,2,2,2,2,2,9
1,1,10,1,1,10,1,11,9,1,2565,...,9,3,2,2,1,2,2,2,,10
2,1,10,1,1,11,1,11,9,1,2565,...,3,2,2,2,2,2,2,2,,11
3,1,10,1,1,12,1,11,9,1,2565,...,9,3,2,2,2,2,2,2,,12
4,1,10,1,1,13,1,14,9,1,2565,...,15,3,2,1,2,2,2,2,,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,5,96,2,3616,6,1,11,24,2,2565,...,17,3,2,1,1,1,2,2,,57846
57916,5,96,2,3616,7,1,11,24,2,2565,...,1,1,2,1,1,2,2,2,4,57847
57917,5,96,2,3616,8,1,11,26,2,2565,...,,,1,1,1,2,2,1,3,57848
57918,5,96,2,3616,9,1,11,26,2,2565,...,17,3,2,2,1,2,2,2,,57849
57919,5,96,2,3616,10,1,14,24,2,2565,...,,,2,2,2,1,2,2,,57850

In [7]:
set(data1['E1'])

{' ', '0', '1', '8', '9'}

In [8]:
set(data1['E2'])

{' ', '0', '1', '8', '9'}

In [9]:
set(data1['E3'])

{' ', '0', '1', '8', '9'}

In [10]:
set(data1['E4'])

{' ', '0', '1', '8', '9'}

In [11]:
set(data1['E5'])

{' ', '0', '1', '8', '9'}

In [12]:
set(data1['E6'])

{' ', '0', '1', '8', '9'}

In [13]:
set(data1['E7'])

{' ', '0', '1', '8', '9'}

In [14]:
set(data1['E8'])

{' ', '0', '1', '8', '9'}

In [15]:
data1_cut = data1[['E1','E2','E3','E4','E5','E6','E7','E8']]  # เลือกข้อมูลที่ต้องการ
data1_cut

      E1 E2 E3 E4 E5 E6 E7 E8
0      0  0  1  0  0  0  0  0
1      0  0  0  0  0  0  0  0
2      1  0  1  0  1  1  0  0
3      0  0  0  0  0  0  0  0
4      1  1  1  0  1  1  0  0
...   .. .. .. .. .. .. .. ..
57915  0  0  0  0  0  0  0  0
57916  0  0  1  0  0  0  0  0
57917  0  0  0  0  0  0  0  0
57918  0  0  0  0  0  0  0  0
57919  1  1  0  0  0  0  0  0

[57920 rows x 8 columns]