<a href="https://colab.research.google.com/github/Jittiya/Co-operative-Education-Science./blob/main/FIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [19]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
path = '/content/drive/My Drive/Co-operative'

In [21]:
data1 = pd.read_csv(os.path.join(path,'Microdata (Covid2022) 2565.csv')) 
data1

,A1,A2,A3,A4,A5,A8,A9,A10D,A10M,A10Y,...,indus_group,indus_sector,C3new,C4new,C5new,C6new,C7new,C8new,edu_caretaker,new_hh_no
0,1,10,1,1,9,1,11,9,1,2565,...,3,2,2,1,2,2,2,2,2,9
1,1,10,1,1,10,1,11,9,1,2565,...,9,3,2,2,1,2,2,2,,10
2,1,10,1,1,11,1,11,9,1,2565,...,3,2,2,2,2,2,2,2,,11
3,1,10,1,1,12,1,11,9,1,2565,...,9,3,2,2,2,2,2,2,,12
4,1,10,1,1,13,1,14,9,1,2565,...,15,3,2,1,2,2,2,2,,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,5,96,2,3616,6,1,11,24,2,2565,...,17,3,2,1,1,1,2,2,,57846
57916,5,96,2,3616,7,1,11,24,2,2565,...,1,1,2,1,1,2,2,2,4,57847
57917,5,96,2,3616,8,1,11,26,2,2565,...,,,1,1,1,2,2,1,3,57848
57918,5,96,2,3616,9,1,11,26,2,2565,...,17,3,2,2,1,2,2,2,,57849
57919,5,96,2,3616,10,1,14,24,2,2565,...,,,2,2,2,1,2,2,,57850

In [22]:
set(data1['E1'])

{' ', '0', '1', '8', '9'}

In [23]:
set(data1['E2'])

{' ', '0', '1', '8', '9'}

In [24]:
set(data1['E3'])

{' ', '0', '1', '8', '9'}

In [25]:
set(data1['E4'])

{' ', '0', '1', '8', '9'}

In [26]:
set(data1['E5'])

{' ', '0', '1', '8', '9'}

In [27]:
set(data1['E6'])

{' ', '0', '1', '8', '9'}

In [11]:
set(data1['E7'])

{' ', '0', '1', '8', '9'}

In [12]:
set(data1['E8'])

{' ', '0', '1', '8', '9'}

In [13]:
set(data1['AWEIGHT'])

{'410.0259',
 '170.7549',
 '227.8703',
 '687.9435',
 '260.5935',
 '138.6836',
 '400.1409',
 '225.8513',
 '643.1356',
 '124.3493',
 '191.6256',
 '379.5823',
 '284.5854',
 '210.5354',
 '808.4034',
 '337.7184',
 '418.8565',
 '318.8714',
 '1474.5226',
 '404.0439',
 '846.6267',
 '110.9186',
 '301.3344',
 '434.1803',
 '408.633',
 '67.0785',
 '292.5732',
 '119.7568',
 '53.5828',
 '949.1629',
 '147.277',
 '653.2064',
 '316.4952',
 '739.7018',
 '875.5151',
 '51.2254',
 '201.1311',
 '205.0269',
 '149.928',
 '734.2554',
 '435.5195',
 '184.7233',
 '850.3842',
 '647.7465',
 '849.1858',
 '406.5192',
 '178.3005',
 '247.5153',
 '511.265',
 '1300.7047',
 '639.6244',
 '215.9593',
 '754.1878',
 '1487.3641',
 '455.0847',
 '148.3464',
 '304.2023',
 '36.7729',
 '162.5086',
 '1145.9346',
 '1842.1803',
 '1585.1732',
 '448.1428',
 ' ',
 '858.8649',
 '583.8692',
 '593.9679',
 '1681.2884',
 '297.6492',
 '205.8166',
 '1406.5748',
 '555.5274',
 '1428.1502',
 '40.5892',
 '149.2631',
 '284.5391',
 '129.6139',
 '210.8258',
 '2113.8599',
 '80.879',
 '953.9762',
 '277.7222',
 '534.7342',
 '191.6919',
 '814.7329',
 '339.1354',
 '683.5535',
 '4024.2723',
 '134.7268',
 '123.5717',
 '600.889',
 '97.8052',
 '482.1505',
 '127.8605',
 '256.4635',
 '533.9493',
 '1258.897',
 '358.3316',
 '841.9643',
 '64.3387',
 '293.387',
 '1190.1873',
 '754.0106',
 '722.9012',
 '1948.9458',
 '528.8505',
 '104.3759',
 '664.6828',
 '665.7657',
 '151.7958',
 '1062.3344',
 '197.675',
 '782.5664',
 '373.6093',
 '213.0027',
 '643.5275',
 '650.9405',
 '82.6389',
 '158.4684',
 '319.9186',
 '383.3598',
 '304.1777',
 '241.4217',
 '716.7847',
 '1288.9866',
 '733.4199',
 '1248.5438',
 '345.6919',
 '369.4947',
 '303.0441',
 '849.865',
 '229.7724',
 '1430.784',
 '290.133',
 '372.3472',
 '310.9009',
 '816.1903',
 '891.1864',
 '997.3807',
 '1240.6277',
 '197.1464',
 '483.2229',
 '381.1854',
 '231.0217',
 '184.1036',
 '134.3266',
 '1115.3',
 '735.1025',
 '547.3185',
 '325.7206',
 '1174.1447',
 '527.5235',
 '135.1306',
 '367.257',
 '227.8155',
 '1267.1793',
 '965.4699',
 '64.1503',
 '283.9557',
 '261.8752',
 '426.746',
 '352.217',
 '523.4588',
 '37.3156',
 '632.4489',
 '207.774',
 '537.2073',
 '200.5454',
 '232.8567',
 '1193.1116',
 '113.787',
 '1302.7726',
 '491.6242',
 '368.3542',
 '151.4519',
 '1081.5135',
 '247.0568',
 '1274.7248',
 '1126.0828',
 '487.342',
 '3297.353',
 '555.8039',
 '728.2754',
 '1352.8528',
 '409.0287',
 '1156.6331',
 '165.8974',
 '757.2146',
 '628.35',
 '402.278',
 '904.8682',
 '101.9484',
 '76.0056',
 '267.205',
 '2392.7767',
 '123.4163',
 '173.3433',
 '98.4892',
 '495.5771',
 '939.5271',
 '282.5759',
 '431.9178',
 '1020.0483',
 '393.4702',
 '237.366',
 '687.0583',
 '535.0974',
 '215.6906',
 '1365.7601',
 '309.6989',
 '202.6397',
 '1367.107',
 '47.6833',
 '508.2376',
 '307.9118',
 '123.7562',
 '386.2267',
 '115.7511',
 '1083.1409',
 '185.4654',
 '225.503',
 '1847.8807',
 '301.4667',
 '147.5018',
 '411.0373',
 '190.3689',
 '1090.2682',
 '302.2458',
 '1166.8747',
 '197.3055',
 '972.1179',
 '324.7006',
 '80.2198',
 '579.0536',
 '1790.9102',
 '154.6261',
 '60.936',
 '268.6045',
 '242.4919',
 '106.2055',
 '281.6102',
 '169.4314',
 '219.1427',
 '555.9028',
 '117.0372',
 '686.9437',
 '951.6738',
 '595.7989',
 '136.0872',
 '475.9606',
 '564.3179',
 '1184.2314',
 '455.0636',
 '245.7714',
 '199.2947',
 '849.5448',
 '271.0265',
 '494.0572',
 '404.2632',
 '180.288',
 '822.2957',
 '134.7709',
 '217.3205',
 '453.114',
 '208.5461',
 '251.3817',
 '80.9495',
 '156.9927',
 '358.0564',
 '78.6643',
 '522.8254',
 '648.7076',
 '62.8956',
 '337.6823',
 '84.0652',
 '36.3114',
 '59.36',
 '678.3294',
 '162.7614',
 '110.6898',
 '94.6741',
 '293.7123',
 '364.5594',
 '801.9268',
 '476.208',
 '521.3955',
 '193.0283',
 '556.1328',
 '96.2629',
 '250.778',
 '238.2247',
 '753.618',
 '327.7314',
 '278.1425',
 '192.2072',
 '3384.3347',
 '3113.1417',
 '580.7491',
 '86.5424',
 '650.5545',
 '377.3048',
 '251.5966',
 '211.9769',
 '281.6896',
 '323.2965',
 '424.5443',
 '347.0257',
 '421.2776',
 '280.5671',
 '84.9288',
 '98.6165',
 '590.8944',
 '93.7857',
 '279.7083',
 '555.0453',
 '594.7696',
 '304.4154',
 '132.1993',
 '725.7388',
 '52.2557',
 '94.1519',
 '187.2107',
 '93.3575',
 '144.5444',
 '311.3318',
 '503.9282',
 '107.6223',
 '752.0399',
 '214.3187',
 '308.1981',
 '338.4227',
 '340.8762',
 '1291.1566',
 '129.0159',
 '344.4695',
 '325.1901',
 '1034.2518',
 '859.1054',
 '153.4976',
 '780.4847',
 '171.9947',
 '258.7519',
 '177.6563',
 '889.8881',
 '742.6155',
 '1345.6236',
 '1038.6668',
 '297.6365',
 '414.8678',
 '152.3028',
 '175.1081',
 '99.0112',
 '100.7588',
 '364.8326',
 '206.4025',
 '503.5308',
 '112.981',
 '176.6083',
 '128.808',
 '107.8387',
 '785.1145',
 '375.3452',
 '279.3949',
 '218.262',
 '172.1004',
 '74.6204',
 '121.9714',
 '72.5029',
 '361.5217',
 '290.9076',
 '111.5845',
 '295.54',
 '492.4859',
 '888.6494',
 '95.749',
 '734.1533',
 '342.3336',
 '220.6605',
 '265.5612',
 '127.1928',
 '583.6973',
 '479.6331',
 '1583.0425',
 '52.2815',
 '33.4211',
 '97.4831',
 '328.8593',
 '442.3673',
 '161.5219',
 '303.828',
 '97.2237',
 '123.5294',
 '369.0883',
 '49.5811',
 '663.7717',
 '334.6837',
 '308.3777',
 '244.0104',
 '1250.2759',
 '127.2394',
 '667.0363',
 '142.1247',
 '601.4466',
 '45.7248',
 '1545.6218',
 '613.4994',
 '1668.9769',
 '657.1879',
 '44.8609',
 '582.988',
 '100.8765',
 '64.303',
 '316.0893',
 '210.8577',
 '677.3955',
 '309.4179',
 '669.0737',
 '213.0033',
 '443.0005',
 '310.2873',
 '673.9003',
 '610.6836',
 '186.3426',
 '1300.0414',
 '155.8692',
 '270.4095',
 '117.907',
 '329.4684',
 '855.0571',
 '441.6327',
 '108.3904',
 '133.4939',
 '510.6564',
 '348.571',
 '76.7643',
 '1722.2641',
 '952.3269',
 '519.1409',
 '366.9933',
 '315.5162',
 '191.3637',
 '181.4207',
 '43.5823',
 '646.4749',
 '495.6656',
 '110.0329',
 '262.885',
 '1221.9422',
 '891.2079',
 '340.8121',
 '114.3814',
 '583.6697',
 '125.9042',
 '1212.1682',
 '568.4717',
 '194.6424',
 '54.6252',
 '331.3792',
 '286.353',
 '466.0777',
 '688.9422',
 '258.155',
 '267.2072',
 '131.7656',
 '266.9992',
 '119.8178',
 '295.7296',
 '1987.7657',
 '69.7592',
 '884.2201',
 '210.2338',
 '237.7988',
 '330.1205',
 '113.7407',
 '407.6579',
 '151.6524',
 '51.8209',
 '59.5755',
 '277.7322',
 '104.0496',
 '175.6301',
 '127.1234',
 '1405.8996',
 '238.8229',
 '22.4615',
 '558.6541',
 '404.0588',
 '53.0621',
 '179.6531',
 '328.0226',
 '127.8472',
 '593.7468',
 '223.6763',
 '224.4763',
 '609.3413',
 '85.8458',
 '225.7937',
 '242.4189',
 '187.5302',
 '263.7324',
 '616.1932',
 '369.3571',
 '1175.7063',
 '1435.4624',
 '248.0116',
 '183.2287',
 '550.7083',
 '388.7669',
 '343.5633',
 '706.2365',
 '215.7442',
 '1184.6106',
 '1058.026',
 '639.4945',
 '356.1677',
 '961.6891',
 '520.3466',
 '1227.1669',
 '227.1358',
 '682.993',
 '596.9707',
 '82.8782',
 '50.3238',
 '317.2144',
 '611.1117',
 '292.1106',
 '45.7206',
 '188.5733',
 '201.3638',
 '910.1584',
 '266.3675',
 '1438.1256',
 '311.9682',
 '130.4184',
 '230.6012',
 '247.8208',
 '149.4124',
 '194.3748',
 '351.6878',
 '98.9682',
 '116.6075',
 '72.4251',
 '2310.7924',
 '246.6129',
 '517.4617',
 '106.3054',
 '264.3636',
 '123.63',
 '457.4603',
 '1059.7557',
 '194.5918',
 '1050.9635',
 '232.3901',
 '147.0803',
 '801.5529',
 '189.2548',
 '351.5614',
 '138.8997',
 '480.5242',
 '38.5366',
 '537.102',
 '1213.9882',
 '315.3681',
 '119.381',
 '215.9638',
 '199.0522',
 '174.4462',
 '664.0434',
 '272.4816',
 '916.7659',
 '368.681',
 '158.1835',
 '151.9355',
 '2246.0499',
 '211.9368',
 '334.8607',
 '143.4094',
 '154.9802',
 '42.8935',
 '183.3144',
 '526.5332',
 '142.6322',
 '446.5833',
 '77.8719',
 '428.1865',
 '137.8827',
 '90.5834',
 '918.6232',
 '1182.3628',
 '486.2368',
 '295.4063',
 '1139.5039',
 '178.2825',
 '110.5594',
 '342.4487',
 '680.677',
 '507.3564',
 '33.8053',
 '141.4036',
 '81.6754',
 '2135.3596',
 '566.2485',
 '277.6205',
 '339.7788',
 '495.5468',
 '762.4521',
 '301.5537',
 '400.6402',
 '663.3738',
 '137.0628',
 '711.4878',
 '1081.5288',
 '319.1965',
 '327.9227',
 '98.7675',
 '697.4227',
 '339.8138',
 '693.7201',
 '1395.3423',
 '196.9531',
 '450.5701',
 '115.5541',
 '656.2136',
 '259.8067',
 '783.0349',
 '145.3',
 '369.548',
 '129.5603',
 '543.3068',
 '52.9422',
 '975.9487',
 '96.8517',
 '130.3633',
 '352.5158',
 '360.6193',
 '732.3181',
 '275.7812',
 '259.0317',
 '332.6481',
 '513.932',
 '138.4111',
 '564.6361',
 '523.2057',
 '416.0238',
 '2308.613',
 '377.0346',
 '35.961',
 '350.5084',
 '534.3478',
 '204.6871',
 '362.0423',
 '662.4901',
 '504.0488',
 '269.5234',
 '716.0825',
 '33.6149',
 '70.0643',
 '105.5232',
 '206.2884',
 '136.5377',
 '125.6405',
 '1828.7858',
 '1573.8403',
 '1401.9316',
 '1151.6841',
 '162.9829',
 '980.7507',
 '608.2463',
 '483.5738',
 '1027.1784',
 '460.1424',
 '86.6931',
 '147.089',
 '1019.7879',
 '81.2573',
 '301.2862',
 '254.735',
 '1154.9159',
 '1201.0243',
 '271.6809',
 '934.4612',
 '247.2512',
 '86.831',
 '551.3719',
 '277.939',
 '882.1103',
 '122.1528',
 '207.1183',
 '239.5929',
 '226.8581',
 '1519.2661',
 '372.4234',
 '75.8651',
 '1204.4459',
 '604.8743',
 '90.3252',
 '1175.7876',
 '482.6102',
 '1471.876',
 '58.0501',
 '382.8292',
 '320.7523',
 '113.9475',
 '369.3739',
 '511.1698',
 '118.0442',
 '822.9154',
 '1647.5554',
 '1326.0592',
 '360.1673',
 '551.1086',
 '1100.932',
 '283.9427',
 '1190.2616',
 '226.0374',
 '153.3628',
 '1375.4338',
 '301.2055',
 '549.9169',
 '108.6679',
 '323.1582',
 '256.2314',
 '318.2598',
 '118.5984',
 '353.1135',
 '234.4361',
 '991.5801',
 '1344.1045',
 '173.1089',
 '224.3195',
 '201.7991',
 '35.814',
 '277.4715',
 '66.56',
 '389.6734',
 '280.7056',
 '1982.7073',
 '207.4478',
 '549.8992',
 '88.8377',
 '258.2692',
 '145.9601',
 '718.4534',
 '338.4101',
 '1349.8019',
 '220.5708',
 '461.8457',
 '1081.2574',
 '476.3158',
 '332.9599',
 '39.0982',
 '1496.1619',
 '189.3615',
 '395.7097',
 '577.5059',
 '314.417',
 '120.0334',
 '401.6484',
 '881.8244',
 '315.8885',
 '293.8392',
 '767.5871',
 '431.3258',
 '41.3638',
 '95.7706',
 '701.4979',
 '708.2251',
 '664.6057',
 '145.9046',
 '299.147',
 '954.5649',
 '1258.1889',
 '157.6528',
 '235.8353',
 '294.6355',
 '244.8908',
 '618.9972',
 '4095.2702',
 '117.9735',
 '235.8316',
 '485.3504',
 '141.3985',
 '190.471',
 '521.2362',
 '120.8542',
 '342.5429',
 '352.9704',
 '1162.6354',
 '154.9702',
 '331.899',
 '138.2404',
 '761.273',
 '97.6788',
 '975.4493',
 '197.5395',
 '799.6001',
 '676.0398',
 '157.676',
 '242.5153',
 '2122.5966',
 '498.8861',
 '518.7112',
 '736.2386',
 '549.1009',
 '772.3709',
 '307.6033',
 '178.5262',
 '535.6665',
 '399.7715',
 '827.3555',
 '198.403',
 '903.5678',
 '677.3902',
 '121.5916',
 '1409.1252',
 '540.7308',
 '539.8664',
 '543.1162',
 '22.8728',
 '740.2338',
 '310.2482',
 '359.5686',
 '136.1796',
 '1490.9996',
 '2060.8291',
 '174.4787',
 '85.6383',
 '178.4621',
 '272.4828',
 '138.5112',
 '68.4178',
 '246.4127',
 '118.4587',
 '642.3969',
 '1030.2271',
 '176.5953',
 '1349.3104',
 '253.8052',
 '67.4491',
 '160.4168',
 '201.3483',
 '2509.6856',
 '256.6403',
 '111.1901',
 '186.4399',
 '878.264',
 '132.113',
 '450.105',
 '370.9017',
 '518.6583',
 '473.6676',
 '887.7489',
 '114.9784',
 '176.6023',
 '312.301',
 '123.9274',
 '46.782',
 '78.327',
 '59.445',
 '183.3881',
 '132.335',
 '641.3121',
 '461.3919',
 '141.7797',
 '768.9748',
 '251.689',
 '602.5134',
 '296.9999',
 '784.0944',
 '51.0015',
 '84.5346',
 '588.8442',
 '338.0805',
 '2104.6721',
 '268.1756',
 '126.1886',
 '194.9243',
 '1336.2369',
 '30.533',
 '777.0136',
 '340.2427',
 '133.8752',
 '533.4175',
 '56.3846',
 '346.4289',
 '206.7999',
 '141.2129',
 '126.6917',
 '251.4683',
 '771.3635',
 '556.3969',
 '215.3829',
 '276.1159',
 '1354.087',
 '123.6841',
 '182.6579',
 '2778.2731',
 '161.1865',
 '283.3437',
 '285.6663',
 '1325.3987',
 '366.36',
 '160.9548',
 '1114.8992',
 '450.8246',
 '884.6634',
 '3255.0793',
 '119.1497',
 '94.4886',
 '157.929',
 '1015.5443',
 '131.9547',
 '284.7573',
 '1436.3215',
 '190.9395',
 '259.8552',
 '1159.6915',
 '71.3022',
 '238.5353',
 '1463.6619',
 '223.4425',
 '1129.0696',
 '354.8834',
 '386.0382',
 '129.2646',
 '48.5254',
 '552.8837',
 '1073.6443',
 '522.8927',
 '402.2064',
 '99.1631',
 '648.5971',
 '657.314',
 '729.4503',
 '140.8502',
 '543.6415',
 '486.7908',
 '1427.7402',
 '1032.3909',
 '599.4116',
 '530.6',
 '174.3091',
 '215.9124',
 '302.3851',
 '59.0596',
 '233.1065',
 '451.9931',
 '528.6755',
 '61.9439',
 '1001.4649',
 '254.3675',
 '456.974',
 '931.8499',
 '152.2354',
 '272.0109',
 '1229.6929',
 '91.7017',
 '532.9743',
 '329.407',
 '54.9432',
 '194.1733',
 '812.6274',
 '716.4377',
 '140.2709',
 '1049.6272',
 '936.3895',
 '495.1871',
 '317.6098',
 '305.3491',
 '318.0206',
 '231.6133',
 '1074.4982',
 '1122.8141',
 '2318.9609',
 '173.2778',
 '373.4602',
 '129.4722',
 '1231.2958',
 '857.101',
 '170.3664',
 '1708.5644',
 '782.5319',
 '339.4284',
 '206.003',
 '98.6721',
 '712.3595',
 '67.6862',
 '197.2431',
 '116.2105',
 '1936.735',
 '258.3752',
 '1547.464',
 '395.3122',
 '416.652',
 '1243.3127',
 '193.3296',
 '86.6038',
 '804.1892',
 '603.2342',
 '175.1595',
 ...}

In [14]:
set(data1['A3'])   #Urban ในเขต "1" or นอกเขต "2"

{1, 2}

In [15]:
set(data1['A1'])  #Region 1 = กรุงเทพมหานคร, 2 = ภาคกลาง (ไม่รวมกรุงเทพมหานคร), 3 = ภาคเหนือ, 4 = ภาคตะวันออกเฉียงเหนือ, 5 = ภาคใต้

{1, 2, 3, 4, 5}

In [16]:
data1_cut = data1[['E1','E2','E3','E4','E5','E6','E7','E8','AWEIGHT','A3','A1']]  # เลือกข้อมูลที่ต้องการ
data1_cut

      E1 E2 E3 E4 E5 E6 E7 E8    AWEIGHT  A3  A1
0      0  0  1  0  0  0  0  0  1365.7601   1   1
1      0  0  0  0  0  0  0  0  1365.7601   1   1
2      1  0  1  0  1  1  0  0  1365.7601   1   1
3      0  0  0  0  0  0  0  0  1365.7601   1   1
4      1  1  1  0  1  1  0  0  1365.7601   1   1
...   .. .. .. .. .. .. .. ..        ...  ..  ..
57915  0  0  0  0  0  0  0  0   419.5161   2   5
57916  0  0  1  0  0  0  0  0   419.5161   2   5
57917  0  0  0  0  0  0  0  0   419.5161   2   5
57918  0  0  0  0  0  0  0  0   419.5161   2   5
57919  1  1  0  0  0  0  0  0   419.5161   2   5

[57920 rows x 11 columns]

In [ ]:
data1_cut['E1','E2','E3','E4','E5','E6','E7','E8'].replace({

In [17]:
data1_cut.to_csv(os.path.join(path,'dataFIES_df.csv'))  # save ไปเก็บในไดร์ฟ

In [28]:
Data_f = pd.read_csv(os.path.join(path,'Microdata- W.csv')) 
Data_f

        E1   E2   E3   E4   E5   E6   E7   E8       wt  Urban  Region
0      0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1365.76      1       1
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1365.76      1       1
2      1.0  0.0  1.0  0.0  1.0  1.0  0.0  0.0  1365.76      1       1
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1365.76      1       1
4      1.0  1.0  1.0  0.0  1.0  1.0  0.0  0.0  1365.76      1       1
...    ...  ...  ...  ...  ...  ...  ...  ...      ...    ...     ...
57915  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5
57916  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5
57917  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5
57918  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5
57919  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5

[57920 rows x 11 columns]

In [29]:
Data_f.dropna()

        E1   E2   E3   E4   E5   E6   E7   E8       wt  Urban  Region
0      0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1365.76      1       1
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1365.76      1       1
2      1.0  0.0  1.0  0.0  1.0  1.0  0.0  0.0  1365.76      1       1
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1365.76      1       1
4      1.0  1.0  1.0  0.0  1.0  1.0  0.0  0.0  1365.76      1       1
...    ...  ...  ...  ...  ...  ...  ...  ...      ...    ...     ...
57915  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5
57916  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5
57917  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5
57918  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5
57919  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0   419.52      2       5

[51816 rows x 11 columns]

In [31]:
Data_f.to_csv(os.path.join(path,'Data_drop.csv'))  # save ไปเก็บในไดร์ฟ

In [33]:
Data2 = pd.read_csv(os.path.join(path,'Microdata (Covid2022) 2565 - W.csv')) 
Data2

,E1,E2,E3,E4,E5,E6,E7,E8,wt,wt.person,Urban,Region
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1365.76,NaN,1,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1365.76,NaN,1,1
2,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1365.76,NaN,1,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1365.76,NaN,1,1
4,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1365.76,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
57915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5
57916,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5
57917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5
57918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5
57919,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5

In [37]:
data2nomissingE1 = Data2.dropna(subset=['E1','E2','E3','E4','E5','E6','E7','E8','wt'])
data2nomissingE1

,E1,E2,E3,E4,E5,E6,E7,E8,wt,wt.person,Urban,Region
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1365.76,NaN,1,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1365.76,NaN,1,1
2,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1365.76,NaN,1,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1365.76,NaN,1,1
4,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1365.76,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
57915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5
57916,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5
57917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5
57918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5
57919,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,419.52,NaN,2,5

In [38]:
data2nomissingE1.isnull().any() #ดูให้ละเอียดมากขึ้นต้องเพิ่ม .any()

E1           False
E2           False
E3           False
E4           False
E5           False
E6           False
E7           False
E8           False
wt           False
wt.person     True
Urban        False
Region       False
dtype: bool

In [40]:
Data2.to_csv(os.path.join(path,'Data2.csv'))  # save ไปเก็บในไดร์ฟ