<a href="https://colab.research.google.com/github/Jittiya/Co-operative-Education-Science./blob/main/FIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/Co-operative'

In [4]:
data1 = pd.read_csv(os.path.join(path,'Microdata (Covid2022) 2565.csv')) 
data1

,A1,A2,A3,A4,A5,A8,A9,A10D,A10M,A10Y,...,indus_group,indus_sector,C3new,C4new,C5new,C6new,C7new,C8new,edu_caretaker,new_hh_no
0,1,10,1,1,9,1,11,9,1,2565,...,3,2,2,1,2,2,2,2,2,9
1,1,10,1,1,10,1,11,9,1,2565,...,9,3,2,2,1,2,2,2,,10
2,1,10,1,1,11,1,11,9,1,2565,...,3,2,2,2,2,2,2,2,,11
3,1,10,1,1,12,1,11,9,1,2565,...,9,3,2,2,2,2,2,2,,12
4,1,10,1,1,13,1,14,9,1,2565,...,15,3,2,1,2,2,2,2,,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,5,96,2,3616,6,1,11,24,2,2565,...,17,3,2,1,1,1,2,2,,57846
57916,5,96,2,3616,7,1,11,24,2,2565,...,1,1,2,1,1,2,2,2,4,57847
57917,5,96,2,3616,8,1,11,26,2,2565,...,,,1,1,1,2,2,1,3,57848
57918,5,96,2,3616,9,1,11,26,2,2565,...,17,3,2,2,1,2,2,2,,57849
57919,5,96,2,3616,10,1,14,24,2,2565,...,,,2,2,2,1,2,2,,57850

In [5]:
set(data1['E1'])

{' ', '0', '1', '8', '9'}

In [10]:
set(data1['E2'])

{' ', '0', '1', '8', '9'}

In [11]:
set(data1['E3'])

{' ', '0', '1', '8', '9'}

In [12]:
set(data1['E4'])

{' ', '0', '1', '8', '9'}

In [13]:
set(data1['E5'])

{' ', '0', '1', '8', '9'}

In [14]:
set(data1['E6'])

{' ', '0', '1', '8', '9'}

In [15]:
set(data1['E7'])

{' ', '0', '1', '8', '9'}

In [16]:
set(data1['E8'])

{' ', '0', '1', '8', '9'}

In [17]:
set(data1['AWEIGHT'])

{'48.5254',
 '361.1432',
 '117.9189',
 '277.6302',
 '1336.2369',
 '743.6745',
 '575.2689',
 '764.1419',
 '123.7562',
 '195.1756',
 '99.5337',
 '369.4947',
 '337.4637',
 '121.0322',
 '383.7175',
 '738.4329',
 '33.6149',
 '246.6129',
 '149.928',
 '1406.1672',
 '148.0081',
 '346.6969',
 '119.2868',
 '301.5093',
 '139.0652',
 '947.1743',
 '265.4436',
 '358.3316',
 '531.1051',
 '803.3489',
 '130.153',
 '243.9083',
 '664.6057',
 '259.8552',
 '472.3569',
 '165.8507',
 '510.6564',
 '219.2494',
 '475.9606',
 '135.4397',
 '1137.7196',
 '755.5053',
 '419.5161',
 '1562.5023',
 '799.6001',
 '1820.3124',
 '650.9405',
 '402.278',
 '103.0843',
 '145.4233',
 '2302.0581',
 '290.459',
 '650.7152',
 '712.3595',
 '1254.9441',
 '408.9869',
 '593.9679',
 '752.0399',
 '249.0644',
 '95.2676',
 '106.3054',
 '338.0805',
 '127.5401',
 '242.2668',
 '131.8283',
 '169.4314',
 '106.4425',
 '189.2548',
 '383.6271',
 '129.2646',
 '67.4491',
 '61.2221',
 '242.2105',
 '132.335',
 '882.6335',
 '226.4789',
 '1030.2271',
 '224.6833',
 '132.8945',
 '1561.7831',
 '266.7583',
 '137.0628',
 '729.4503',
 '2743.8',
 '1949.4591',
 '309.5392',
 '655.9627',
 '816.1903',
 '52.9422',
 '1372.3651',
 '142.5231',
 '317.6098',
 '372.3927',
 '479.367',
 '163.1885',
 '371.5284',
 '558.6541',
 '616.1932',
 '1386.1829',
 '338.5127',
 '100.8765',
 '418.9735',
 '1810.2561',
 '154.5379',
 '97.4831',
 '237.7988',
 '223.5999',
 '435.7415',
 '187.3499',
 '149.1598',
 '650.2086',
 '54.6088',
 '1427.7402',
 '235.7826',
 '295.7296',
 '1043.5007',
 '508.3012',
 '492.3629',
 '1999.6784',
 '306.6868',
 '1474.5226',
 '701.8028',
 '172.2717',
 '108.2674',
 '170.9093',
 '299.4865',
 '1381.4976',
 '206.63',
 '149.5447',
 '491.6242',
 '34.4921',
 '395.7097',
 '1156.6331',
 '502.4508',
 '305.5814',
 '144.8034',
 '731.9601',
 '213.2832',
 '167.6511',
 '286.1925',
 '290.8559',
 '104.8376',
 '1567.6161',
 '1100.932',
 '64.5638',
 '336.5962',
 '86.5387',
 '171.3451',
 '42.5634',
 '217.1415',
 '153.1794',
 '87.808',
 '131.9499',
 '159.4941',
 '1184.9223',
 '19.5081',
 '660.1962',
 '60.936',
 '662.8425',
 '296.4737',
 '189.1368',
 '132.8788',
 '59.5755',
 '144.7969',
 '167.1712',
 '1516.246',
 '239.6339',
 '99.2232',
 '603.4311',
 '1360.6736',
 '307.6033',
 '287.5537',
 '175.1595',
 '762.5835',
 '1918.8714',
 '178.1582',
 '530.0039',
 '203.8357',
 '1249.0767',
 '212.2962',
 '132.9467',
 '846.6267',
 '1062.3344',
 '224.8502',
 '167.9471',
 '1724.9674',
 '269.1786',
 '381.0126',
 '974.6925',
 '307.466',
 '298.4261',
 '761.8164',
 '401.3612',
 '165.5837',
 '600.889',
 '399.7715',
 '337.6823',
 '22.4615',
 '273.9792',
 '161.5219',
 '480.2393',
 '236.0553',
 '22.8728',
 '38.6791',
 '127.1928',
 '114.3814',
 '130.0757',
 '506.6001',
 '841.1391',
 '473.2111',
 '273.9782',
 '429.0968',
 '421.2776',
 '99.4221',
 '135.063',
 '308.1981',
 '1269.2699',
 '1322.981',
 '657.7371',
 '32.7714',
 '1354.759',
 '1204.4459',
 '301.4805',
 '345.6919',
 '269.9391',
 '232.3901',
 '563.3425',
 '687.0583',
 '263.3462',
 '78.327',
 '734.1533',
 '1230.7656',
 '541.5404',
 '444.3808',
 '41.3638',
 '450.5701',
 '172.8448',
 '233.0884',
 '618.5808',
 '109.3229',
 '3125.2385',
 '1574.9159',
 '209.3891',
 '599.0165',
 '107.1983',
 '100.621',
 '364.4374',
 '283.7302',
 '140.2709',
 '320.7523',
 '302.2458',
 '453.114',
 '1143.7527',
 '226.1994',
 '358.5076',
 '149.0015',
 '137.6614',
 '42.6923',
 '266.5822',
 '910.3132',
 '158.1471',
 '538.2614',
 '137.2248',
 '86.8466',
 '530.062',
 '156.7112',
 '678.0219',
 '29.2851',
 '975.8316',
 '954.5649',
 '102.5472',
 '194.2338',
 '160.8725',
 '1260.8961',
 '534.7342',
 '629.3854',
 '804.3559',
 '200.5454',
 '391.828',
 '168.1286',
 '194.6424',
 '226.0374',
 '1650.2373',
 '124.6763',
 '322.575',
 '765.8196',
 '138.2708',
 '283.3437',
 '230.8898',
 '538.8402',
 '1273.3478',
 '1237.5916',
 '2144.405',
 '282.8903',
 '31.9876',
 '191.8553',
 '1194.1208',
 '1195.2421',
 '284.5863',
 '403.0065',
 '448.1428',
 '120.6519',
 '184.6405',
 '1190.4244',
 '381.8247',
 '884.2201',
 '733.4199',
 '127.7278',
 '548.707',
 '321.3694',
 '1555.5539',
 '631.2898',
 '898.493',
 '219.1427',
 '33.7597',
 '1848.4271',
 '530.6',
 '73.3863',
 '654.7992',
 '352.9704',
 '419.6649',
 '486.5301',
 '25.9694',
 '428.2503',
 '123.6841',
 '1128.5905',
 '639.8437',
 '452.1515',
 '102.9638',
 '1089.2481',
 '404.0439',
 '678.1535',
 '682.993',
 '693.1116',
 '941.8953',
 '442.163',
 '86.2412',
 '563.1095',
 '1265.5505',
 '1008.7721',
 '934.9958',
 '47.6833',
 '156.4678',
 '120.5136',
 '226.1948',
 '709.3898',
 '171.4264',
 '1265.2924',
 '140.79',
 '319.6717',
 '259.8067',
 '610.5726',
 '204.6871',
 '566.3587',
 '283.4914',
 '1003.9308',
 '81.695',
 '178.5262',
 '991.5801',
 '47.6104',
 '186.5313',
 '371.9773',
 '87.3883',
 '151.325',
 '480.5242',
 '128.5441',
 '111.5915',
 '339.7788',
 '301.3344',
 '277.8434',
 '631.6156',
 '736.2448',
 '261.8893',
 '178.4621',
 '106.2111',
 '231.4781',
 '175.6301',
 '2258.0123',
 '288.5961',
 '1379.8591',
 '333.1783',
 '618.9972',
 '153.8166',
 '347.2655',
 '604.9044',
 '519.0304',
 '79.2269',
 '1029.4803',
 '1780.4185',
 '100.6753',
 '1321.5368',
 '39.0468',
 '1174.1447',
 '609.71',
 '1548.7506',
 '533.6888',
 '1887.3336',
 '313.2826',
 '293.5246',
 '793.273',
 '882.0529',
 '780.4847',
 '1029.1926',
 '265.9785',
 '26.5956',
 '247.8208',
 '284.2003',
 '259.9314',
 '328.8593',
 '761.085',
 '1822.8094',
 '211.0524',
 '555.6396',
 '416.7197',
 '172.3744',
 '993.7572',
 '100.6482',
 '217.3275',
 '54.29',
 '278.1641',
 '334.242',
 '399.9095',
 '314.236',
 '174.3091',
 '279.3442',
 '1514.3339',
 '812.6274',
 '564.3179',
 '428.9288',
 '187.2107',
 '121.7224',
 '184.6977',
 '767.8644',
 '610.6836',
 '1519.2661',
 '665.7657',
 '587.581',
 '421.4871',
 '94.4886',
 '156.4385',
 '771.3635',
 '488.9711',
 '101.889',
 '156.9927',
 '263.402',
 '316.3724',
 '2170.9092',
 '86.6038',
 '680.677',
 '741.8039',
 '110.0329',
 '156.6177',
 '1298.9054',
 '577.6632',
 '111.9176',
 '162.8962',
 '196.9531',
 '1217.8628',
 '315.3681',
 '30.533',
 '215.3829',
 '815.2456',
 '150.6524',
 '871.5894',
 '194.9243',
 '84.7118',
 '1013.5597',
 '35.0977',
 '140.9295',
 '360.1673',
 '617.4972',
 '459.5435',
 '511.1354',
 '130.4184',
 '295.5767',
 '220.5708',
 '301.4667',
 '1183.6825',
 '1184.2314',
 '409.0287',
 '168.9927',
 '348.9221',
 '143.5014',
 '92.2115',
 '204.5787',
 '603.0992',
 '542.7823',
 '170.7549',
 '397.5967',
 '690.5377',
 '141.8408',
 '1820.9866',
 '210.6797',
 '1026.6533',
 '1027.1784',
 '636.3917',
 '721.9052',
 '498.6305',
 '32.268',
 '412.1914',
 '335.7918',
 '102.9131',
 '1498.2861',
 '104.4606',
 '1790.9102',
 '178.9525',
 '389.6734',
 '1994.8928',
 '1426.5465',
 '225.3692',
 '350.2338',
 '111.3596',
 '727.83',
 '485.3504',
 '129.96',
 '280.1816',
 '127.6162',
 '434.5454',
 '191.6256',
 '1188.3889',
 '130.5698',
 '210.8577',
 '39.7242',
 '279.0561',
 '367.6168',
 '175.887',
 '312.7179',
 '789.248',
 '1347.2496',
 '717.5055',
 '417.8248',
 '442.6215',
 '395.6673',
 '241.6259',
 '101.9484',
 '1191.8369',
 '32.026',
 '119.381',
 '118.3184',
 '152.6261',
 '45.2328',
 '539.184',
 '818.6414',
 '134.7709',
 '156.358',
 '973.0061',
 '592.0747',
 '225.3875',
 '1041.7731',
 '46.9375',
 '1952.1654',
 '53.5828',
 '128.6063',
 '714.0328',
 '106.4367',
 '2066.6048',
 '343.3425',
 '77.0921',
 '269.5234',
 '323.2291',
 '110.5981',
 '86.6931',
 '67.0785',
 '191.0053',
 '355.6904',
 '524.0162',
 '254.5215',
 '572.5579',
 '74.0619',
 '164.8232',
 '158.9691',
 '176.5953',
 '74.6858',
 '176.5562',
 '812.5513',
 '81.4791',
 '69.0579',
 '155.2108',
 '251.0458',
 '962.9351',
 '891.1864',
 '1581.9381',
 '710.513',
 '368.713',
 '43.5823',
 '599.4116',
 '1335.3138',
 '112.981',
 '272.4642',
 '108.6679',
 '268.1756',
 '858.8649',
 '348.2858',
 '286.4414',
 '274.0898',
 '481.4803',
 '153.9068',
 '1374.0708',
 '292.394',
 '111.0091',
 '128.5752',
 '1406.7266',
 '138.6836',
 '420.2064',
 '154.9802',
 '297.1541',
 '98.611',
 '826.5879',
 '66.1821',
 '160.4168',
 '129.8474',
 '256.6403',
 '110.2063',
 '610.2762',
 '254.4741',
 '401.0573',
 '194.1733',
 '126.1886',
 '740.2338',
 '849.865',
 '324.1715',
 '756.452',
 '880.1378',
 '1126.0828',
 '183.4342',
 '1394.132',
 '303.1148',
 '722.5097',
 '1058.026',
 '553.9241',
 '252.6069',
 '1227.1669',
 '569.5333',
 '229.7193',
 '186.215',
 '307.7108',
 '2141.4181',
 '701.4583',
 '865.8046',
 '379.305',
 '259.027',
 '407.7885',
 '138.8997',
 '593.2008',
 '568.5606',
 '1296.1081',
 '396.8916',
 '193.3544',
 '542.7331',
 '265.5612',
 '2992.0852',
 '212.3005',
 '42.1645',
 '2509.6856',
 '1724.6487',
 '386.0382',
 '1232.9963',
 '181.2815',
 '195.0506',
 '114.9784',
 '975.3912',
 '702.4817',
 '856.7319',
 '235.8353',
 '483.2229',
 '518.4275',
 '157.3302',
 '667.198',
 '275.4147',
 '229.7724',
 '104.3759',
 '74.6204',
 '98.3135',
 '992.4152',
 '916.4782',
 '94.0239',
 '99.269',
 '1117.4614',
 '193.4184',
 '49.0929',
 '138.8704',
 '37.9363',
 '285.6663',
 '697.4227',
 '465.399',
 '386.3244',
 '340.8121',
 '742.8823',
 '225.2242',
 '272.3033',
 '344.9766',
 '70.2374',
 '478.1416',
 '1500.3883',
 '270.1117',
 '251.0051',
 '364.4995',
 '1487.3641',
 '284.9095',
 '403.5531',
 '511.8017',
 '72.5607',
 '117.0824',
 '495.0078',
 '478.746',
 '133.7902',
 '833.163',
 '280.4966',
 '718.0959',
 '26.9828',
 '197.6508',
 '517.0006',
 '167.3649',
 '51.8209',
 '78.3514',
 '1329.7982',
 '113.3323',
 '351.6878',
 '316.0893',
 '801.3641',
 '804.0331',
 '292.6704',
 '1436.3215',
 '30.5642',
 '1045.7389',
 '411.5172',
 '1300.7047',
 '158.7318',
 '193.0283',
 '1218.5277',
 '778.856',
 '796.4483',
 '215.1166',
 '1326.0592',
 '186.3426',
 '33.8053',
 '203.2399',
 '735.1025',
 '241.9442',
 '641.3121',
 '913.6307',
 '399.1155',
 '598.5073',
 '402.45',
 '609.8745',
 '453.5436',
 '175.0103',
 '2104.6721',
 '151.6524',
 '1034.0032',
 '174.4787',
 '1081.5135',
 '215.0025',
 '320.1378',
 '421.1191',
 '286.9523',
 '543.3211',
 '293.427',
 '70.5104',
 '580.7491',
 '260.936',
 '1093.6856',
 '235.9145',
 '677.2685',
 '353.1135',
 '62.8956',
 '106.4198',
 '261.1511',
 '116.7227',
 '153.4921',
 '398.7642',
 '40.5676',
 '71.671',
 '464.5574',
 '845.1069',
 '286.353',
 '162.4779',
 '230.9178',
 '234.8989',
 '142.3181',
 '546.1268',
 '495.6656',
 '139.7817',
 '273.084',
 '584.7121',
 '1193.9809',
 '246.2439',
 '31.5753',
 '103.729',
 '585.0963',
 '554.113',
 '303.0441',
 '302.6743',
 '1849.4769',
 '488.5064',
 '539.4837',
 '255.5072',
 '94.6741',
 '135.1306',
 '137.7186',
 '175.7335',
 '311.7214',
 '138.8971',
 '260.5935',
 '263.7324',
 '268.1265',
 '1448.2049',
 '1138.7293',
 '179.5706',
 '44.6199',
 '410.7496',
 '751.9523',
 '950.9045',
 '33.8975',
 '237.6865',
 '104.6787',
 '160.9338',
 '133.6092',
 '1182.6826',
 '223.4425',
 '171.9625',
 '238.424',
 '1170.0828',
 '441.6327',
 '801.0986',
 '191.4986',
 '94.493',
 '227.8863',
 '447.5115',
 '150.5886',
 '222.2407',
 '323.5399',
 '266.3929',
 '1430.2043',
 '201.5369',
 '211.6403',
 '139.3457',
 '277.1971',
 '266.5658',
 '110.3637',
 '127.1234',
 '295.3103',
 '350.5084',
 '151.9355',
 '173.7773',
 '609.3413',
 '1511.4779',
 '1248.4525',
 '288.2872',
 '483.5738',
 '1013.2718',
 '481.8366',
 '145.3',
 '969.6946',
 '579.0536',
 '79.7547',
 '981.1142',
 '140.6692',
 '655.7254',
 '332.6481',
 '185.0651',
 '173.3433',
 '534.3478',
 '2318.9609',
 '186.5268',
 '80.2673',
 '309.4997',
 '1258.897',
 '899.2286',
 '760.3928',
 '1299.2104',
 '1428.1502',
 '321.6456',
 '677.3902',
 '175.9608',
 '251.5966',
 '567.3849',
 '244.7646',
 '460.1424',
 '188.4841',
 '782.2474',
 '965.4699',
 '377.0346',
 '110.1947',
 '2187.8901',
 '300.7381',
 '867.0563',
 '334.4804',
 '603.2243',
 '434.1303',
 '418.8565',
 '400.8892',
 '366.9933',
 '157.929',
 '680.8549',
 '348.2857',
 '181.0881',
 '285.2125',
 '118.9387',
 '807.7013',
 '211.2842',
 '126.5669',
 '290.133',
 '1190.2616',
 '302.1353',
 '1122.8141',
 '528.8505',
 '629.272',
 '267.205',
 '293.639',
 '185.4654',
 '201.7991',
 '227.0783',
 '206.7999',
 '90.7428',
 '116.9909',
 '195.9201',
 '169.6321',
 '157.7107',
 '438.3478',
 '62.0501',
 '925.2325',
 '664.0434',
 '587.2537',
 '329.7044',
 '354.5855',
 '628.0078',
 '103.109',
 '153.63',
 '373.4602',
 '568.4717',
 '318.0206',
 '303.4127',
 '1242.8098',
 '479.6331',
 '48.0287',
 '869.679',
 '118.3321',
 '2135.3596',
 '384.9786',
 '123.3148',
 '369.0883',
 '171.387',
 '431.9178',
 '402.2064',
 '214.3834',
 '297.6365',
 '344.3432',
 '205.9371',
 '735.8664',
 '105.1061',
 '256.9348',
 '1255.9656',
 '849.1858',
 '166.9453',
 '891.4916',
 '872.12',
 '25.3168',
 '657.314',
 '1320.8357',
 '240.8581',
 '295.7054',
 '713.9321',
 '418.1006',
 '221.9692',
 '896.389',
 '244.4685',
 '140.7912',
 '76.6707',
 '689.2834',
 '74.6626',
 '2212.3455',
 '194.4197',
 '306.0576',
 '312.301',
 '1426.631',
 '160.666',
 '480.7324',
 '1409.1252',
 '305.79',
 '305.3491',
 '477.8255',
 '235.8316',
 '302.0737',
 '399.6335',
 '474.3736',
 '121.4784',
 '270.797',
 '727.303',
 '469.3718',
 '583.6697',
 '184.037',
 '176.6083',
 '40.5892',
 '386.2237',
 '395.3122',
 '3113.1417',
 '349.063',
 '330.3456',
 '155.5179',
 ...}

In [20]:
set(data1['A3'])   #Urban ในเขต "1" or นอกเขต "2"

{1, 2}

In [21]:
set(data1['A1'])  #Region 1 = กรุงเทพมหานคร, 2 = ภาคกลาง (ไม่รวมกรุงเทพมหานคร), 3 = ภาคเหนือ, 4 = ภาคตะวันออกเฉียงเหนือ, 5 = ภาคใต้

{1, 2, 3, 4, 5}

In [9]:
data1_cut = data1[['E1','E2','E3','E4','E5','E6','E7','E8','AWEIGHT','A3','A1']]  # เลือกข้อมูลที่ต้องการ
data1_cut

      E1 E2 E3 E4 E5 E6 E7 E8    AWEIGHT  A3  A1
0      0  0  1  0  0  0  0  0  1365.7601   1   1
1      0  0  0  0  0  0  0  0  1365.7601   1   1
2      1  0  1  0  1  1  0  0  1365.7601   1   1
3      0  0  0  0  0  0  0  0  1365.7601   1   1
4      1  1  1  0  1  1  0  0  1365.7601   1   1
...   .. .. .. .. .. .. .. ..        ...  ..  ..
57915  0  0  0  0  0  0  0  0   419.5161   2   5
57916  0  0  1  0  0  0  0  0   419.5161   2   5
57917  0  0  0  0  0  0  0  0   419.5161   2   5
57918  0  0  0  0  0  0  0  0   419.5161   2   5
57919  1  1  0  0  0  0  0  0   419.5161   2   5

[57920 rows x 11 columns]

In [ ]:
data1_cut.to_csv(os.path.join(path,'dataFIES_df.csv'))  # save ไปเก็บในไดร์ฟ