In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:

from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/Co-operative'

In [5]:
data1 = pd.read_csv(os.path.join(path,'open-data-iod1.csv')) 
data1

,สถิติการให้บริการผู้ป่วยด้านทันตกรรมของสถาบันทันตกรรม,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,การให้บริการ,ปี 2561,ปี 2562,ปี 2563,ปี 2564,ปี 2565
1,NaN,จำนวน (คน),จำนวน (คน),จำนวน (คน),จำนวน (คน),(1 ต.ค.64 - 31 พ.ค.65)
2,NaN,NaN,NaN,NaN,NaN,จำนวน (คน)
3,ในเวลาราชการ,"23,042","24,669","20,487","14,951","14,827"
4,นอกเวลาราชการ,"18,763","19,209","15,081","15,198","11,890"
5,รวม,"41,805","43,878","35,568","30,149","26,717"